{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/nav_style.css' %}">
    {% block extra_css %}{% endblock %}
  </head>

  <body>
    <nav class="bear-navbar">
      <div class="bear-navbar-inner">
        <div class="bear-navbar-left">
          <a href="/">
            <img src="{% static 'nav_img/logo.png' %}" alt="BEAR logo" class="bear-logo">
          </a>
        </div>

        <div class="settings-navbar-group">
          <img src="{% static 'nav_img/settings_introduce.png' %}" alt="settings sub logo" class="settings-sub-logo">
          <a href="{% url 'settings_app:settings_index' %}">
            <img src="{% static 'nav_img/settings.png' %}" alt="settings logo" class="settings-logo">
          </a>
        </div>
      </div>
    </nav>

    <nav class="bear-tabs-bar">
      <div class="bear-tabs-inner">
        <div class="bear-tab-box {% if active_tab == 'report' %}active{% endif %}">
          <a class="bear-tab-text" href="{% url 'report_app:report_daily' %}">리포트</a>
        </div>
        <div class="bear-tab-box {% if active_tab == 'record' %}active{% endif %}">
          <a class="bear-tab-text" href="{% url 'record_app:record_index' %}">기록</a>
        </div>
        <div class="bear-tab-box {% if active_tab == 'timeline' %}active{% endif %}">
          <a class="bear-tab-text" href="/timeline">타임라인</a>
        </div>
        <div class="bear-tab-box {% if active_tab == 'badges' %}active{% endif %}">
          <a class="bear-tab-text" href="/badges">도감</a>
        </div>
      </div>
    </nav>

    <main class="bear-main">
      {% block main_area %}{% endblock %}
    </main>

    {% block extra_js %}{% endblock %}
  </body>
</html>
