{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/nav_style.css' %}">

  {% block extra_css %}{% endblock %}
  </head>

  <body>
    <!-- 1줄: 곰돌이 로고 + 설정 아이콘 -->
    <nav class="bear-navbar">
      <div class="bear-navbar-inner">
        <div class="bear-navbar-left">
            <a href="{% url 'home' %}">
                <img src="{% static 'nav_img/logo.png' %}" alt="BEAR logo" class="bear-logo">
            </a>
        </div>

        <div class="settings-navbar-group" style="display: flex; align-items: center; gap: 15px;">
            <a href="/settings">
                <img src="{% static 'nav_img/settings.png' %}" alt="settings logo" class="settings-logo">
            </a>

            {% if user.is_authenticated %}
            <form action="{% url 'accounts_app:user_logout' %}" method="post" style="margin: 0;">
                {% csrf_token %}
                <button type="submit" class="logout-btn">
                    로그아웃
                </button>
            </form>
            {% endif %}
        </div>
      </div>
</nav>

    <!-- 2줄: 리포트 / 기록 / 타임라인 / 도감 -->
    <nav class="bear-tabs-bar">
      <div class="bear-tabs-inner">
        <div class="bear-tab-box {% if active_tab == 'report' %}active{% endif %}">
          <a class="bear-tab-text" href="{% url 'report_app:report_daily' %}">리포트</a>
        </div>

        <div class="bear-tab-box {% if active_tab == 'record' %}active{% endif %}">
          <a class="bear-tab-text" href="{% url 'record_app:record_index' %}">기록</a>
        </div>

        <div class="bear-tab-box {% if active_tab == 'timeline' %}active{% endif %}">
          <a class="bear-tab-text" href="/timeline">타임라인</a>
        </div>

        <div class="bear-tab-box {% if active_tab == 'collection' %}active{% endif %}">
          <a class="bear-tab-text" href="/badges">도감</a>
        </div>
      </div>
    </nav>

    <!-- 아래 실제 페이지 내용 -->
    <main class="bear-main">
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>
